{% extends 'base.html' %}

{% block style %}
  p, h1, li {
    color: white;
    
  }
  
{% endblock style %}

{% block showcase %}
  
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h1>Signup</h1><br>
      <form action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-light ms-auto">
      </form>
    </div>
    <div class="col-2">
    </div>
  </div>
{% endblock showcase %}

